.container {
    margin-top: 5rem;

    > header {
        p, address {
            margin-bottom: 2rem;
        }
        p:last-child {
            margin-bottom: 2rem;
        }
    }
}

.me {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50px;
}



em {
    // margin-right: 6px;
    font-style: normal;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

footer {
    p {
        margin-bottom: 10px;
        font-size: 10pt;
    }
}

@media print {
    @page {
        margin: 15mm;
    }

    body {
        font-size: 14pt;
        line-height: 21pt;
    }

    .container {
        > header {
            line-height: 160%;
            font-size: 80%;
        }
    }

    article {
        > header {
            > span {
                line-height: 80%;
                font-size: 80%;
            }
        }
    }
}
