<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>site.title</title>
    <meta name="description" content="Jesseyx's Résumé">
    <meta name="author" content="Jesseyx@github">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- css('css/app') %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <header class="column column-left">
        <div class="user-card table">
            <div class="cell">
                <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar">
                <h4 class="name">Jesseyx</h4>
                <p class="job">FRONT-END WEB DEVELOPER</p>
                <p class="signature">一个立志成为优雅前端工程师的小白.</p>
                <nav class="nav-list">
                    <ul>
                        <li><a href="">时间轴</a></li>
                        <li><a href="">分类</a></li>
                        <li><a href="">标签</a></li>
                        <li><a href="">Links</a></li>
                    </ul>
                </nav>
                <p class="social-links">
                    <a href=""><i class="fa fa-fw fa-envelope"></i></a>
                    <a href=""><i class="fa fa-fw fa-github"></i></a>
                    <a href=""><i class="fa fa-fw fa-weibo"></i></a>
                    <a href=""><i class="">知</i></a>
                </p>
            </div>
        </div>
    </header>
    <div class="column column-right">
        <section class="">
            <header>
                <h1>我是测试标题</h1>
                <span><address>Apr 29 2016</address><time>布局</time></span>
            </header>
            <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
                    at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex.</p>
        </section>

        <footer class="thirteen columns">
            <p>© All rights reserved. Powered by <a href="#">Hexo</a> and
                <a href="#">leaf</a> with ♥</p>
        </footer>
    </div>
</div>
</body>
</html>